.header-form
	div(data-role="header" class="jqm-header")
		h1 Propeller TV
		p Bring the world together
		a(href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left") Menu
		a(href="#info" class="ui-btn ui-btn-icon-notext ui-corner-all ui-icon-info ui-alt-icon ui-btn-right") About